/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/08/2017, 07:27:07 PM
    Author     : USER
*/

#center{
   
    margin-left: 565px;

    
}
#img{
   
     width: 250px;
     height: 250px;
     
     
    
}
#footer{
     width: 50px;
     height: 50px; 
    
    
}

